body {
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
}
.main {
  background-image: url('Assests/images/bg.jpg');
  height: 80vh;
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
}
.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.7;
  background-color: black;
  position: absolute;
  top: 0;
}
nav {
  padding: 15px;
  max-width: 70vw;
  display: flex;
  margin: auto;
  height: 65px;
  justify-content: space-between;
  align-items: center;
}
.main nav span img {
  width: 140px;
  height: 140px;
  margin: 0px 23px;
  color: rgb(228, 38, 13);
  position: relative;
  z-index: 10;
}
.main button {
  position: relative;
  z-index: 10;
}

.content {
  height: calc(100%-70px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  position: relative;
  flex-direction: column;
  gap: 23px;
  text-align: center;
  margin: 56px auto;
}
.content > :nth-child(1) {
  font-family: 'Segoe UI', sans-serif;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}
.content > :nth-child(2) {
  font-family: 'Segoe UI', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.content > :nth-child(3) {
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.content input {
  width: 400px;
  height: 40px;
  border: 1px solid white;
  opacity: 0.74;
  background-color: rgba(35, 33, 33, 0.2);
  color: white;
  border-radius: 6px;
  margin: auto, 50px;
  font-weight: 900;
  font-family: 'Arial Narrow Bold';
  font-size: 16px;
}
.seperation {
  height: 4px;
  background-color: rgb(157, 152, 152);
  width: 100%;
  margin: 80px 0px 0px;
  opacity: 0.5;
}
.btn {
  width: 90px;
  height: 30px;
  border-radius: 6px;
  background-color: red;
  color: white;
  border: 1px solid rgb(225, 212, 212);
  opacity: 0.64;
  cursor: pointer;
  font-family: sans-serif;
}
.content button {
  width: 140px;
  height: 40px;
  font-weight: 600;
}
.eng_btn {
  background-color: rgba(248, 243, 243, 0.082);
  /* opacity: 0.54; */
}
.red_btn {
  border: 2px solid red;
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  align-items: center;
}

.sec_img {
  position: relative;
  margin: 20px auto;
}
.first .sec_img img {
  width: 272px;
  height: 265px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.first .sec_img video {
  position: absolute;
  top: 10px;
  right: 35px;
  left: 35px;
  width: 200px;
  height: 300px;
  overflow: hidden;
  padding: auto 34px;
}
.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0px;
}

.first > div :first-child {
  font-size: 48px;
  font-weight: bolder;
}
.first > div :nth-child(2) {
  font-size: 24px;
}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
}
.faq h2 {
  text-align: center;
  font-size: 48px;
  padding: 10px;
}

.faq_box {
  display: flex;
  justify-content: space-between;
  background: #313030e8;
  padding: 20px;
  max-width: 55vw;
  margin: 5px auto;
  cursor: pointer;
  font-size: 18px;
  transition: all 2s ease-out;
}
.faq_box:hover {
  background: #a39b9be8;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  max-width: 60vw;
  margin: auto;
}

footer {
  color: white;
  margin: auto;
  max-width: 60vw;
  padding: 25px;
}
footer span {
  margin: 23px;
  font-size: 20px;
  text-decoration: underline;
  padding: 34px 0px;
}
.footer_item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 2px;
}
.footer_item a {
  margin: 5px;
  color: rgb(156, 152, 152);
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  nav {
        max-width: 90vw;
        margin: 14px auto;
  }
  .main nav span img {
    width: 100px;
    height: 20px;
  }
  .first {
    flex-wrap: wrap;
  }
  
  .first .sec_img img {
    width: 180px;
    overflow: hidden;

  }
  .first .sec_img video {
    width: 140px;
    overflow: hidden;
  }

  .content > :nth-child(1) {
    font-size: 32px;
  }
  .content > :nth-child(2) {
    font-size: 18px;
  }
  .content > :nth-child(3) {
    font-size: 18px;
  }
  .faq h2{
    font-size: 24px;
  }  

  .footer_item a {
    font-size: 14px;
    color: rgb(156, 152, 152);
  }
  
 
}
@media screen and (max-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    justify-items: center; 
    align-items: start; 
  }


  .footer_item {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  footer > span {
    font-size: 16px;
    margin: 0; 
    align-items: center;
  }
  
}




